<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Customer Directory</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
</head>

<body>
	<div class="container">

		<h3>Customer Directory</h3>
		<hr>

		<!-- Add a button -->
		<a th:href="@{/customer/showFormForAdd}"
			class="btn btn-primary btn-sm mb-3"> Add Customer </a>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="tempCustomer : ${customers}">

					<td th:text="${tempCustomer.firstName}" />
					<td th:text="${tempCustomer.lastName}" />
					<td th:text="${tempCustomer.email}" />

				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>



